<html>
    <head>
        <title>Image Detection using YOLO</title>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		
		<style>
			ul {
			font-size: 20px;
			}
		</style>
    </head>
    <body>
	<div class="container">
		<h1>Image Upload</h1>
		<form id='upload-file' method='POST' action='/upload' enctype='multipart/form-data'>
		
		<div class="form-group">
		<hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li style="color:red">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
		{% endwith %}
            <label for="inputFile">Image Input</label>
            <input type='file' id='file' name='file'>
        </div>
		<button id='upload' class='btn btn-default'>Upload</button>
        </form>
    </div>
	
    </body>
</html>